/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
  font-family: 'Hack';
  src: url('/media/fonts/HackNerdFont-Regular.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/media/fonts/HackNerdFont-Bold.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('/media/fonts/HackNerdFont-Italic.ttf') format('truetype');;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/media/fonts/HackNerdFont-BoldItalic.ttf') format('truetype');;
  font-weight: 700;
  font-style: italic;
}

